@import 'tailwindcss';
body {
	background: linear-gradient(to bottom, #9bb7f3, #ffffff) !important;
}

@theme {
	--color-primary: #75dddd;
	--color-primary-light: #f0fdfa;
	--color-primary-dark: #172a3a;
	--color-secondary: #0f172a;
}

::-webkit-scrollbar {
	width: 8px !important;
	height: 8px !important;
}
::-webkit-scrollbar-thumb {
	background-color: #75dddd;
}
::-webkit-scrollbar-track {
	background-color: #fff;
}
